---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="bh's ventures">
  <main class="page-content">
    <h1>my ventures</h1>
    <p>i'm currently building @ <a href="https://home.shofo.ai/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;"><span class="shofo" style="font-weight: bold; background: linear-gradient(45deg, #a143ff, #4ffff0); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">shofo</span></a>, where we're reimagining search and social media.</p>
    <p>previously, i founded <a href="https://linktr.ee/viriongroup" target="_blank" rel="noopener noreferrer" style="text-decoration: none;"><span class="virion" style="font-weight: bold; background: linear-gradient(45deg, #3d3d3d, #5d5d5d); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">the ai virion analysis group</span></a>, a bioinformatics research group delivering ai diagnostic tools for quantifying and analyzing virion counts to clinics.</p>
  </main>
</PageLayout>

<style>
  .page-content {
    max-width: 1000px;
    margin: 4rem auto;
    padding: 2rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
  }
</style>
