---
import Layout from '../layouts/Layout.astro';
import InteractiveFigBranch from '../components/InteractiveFigBranch.astro';
---

<Layout title="bh">
    <main class="flex items-center justify-center min-h-screen w-full overflow-hidden">
        <div class="w-full max-w-xl">
            <InteractiveFigBranch />
        </div>
    </main>
</Layout>
