---
import Layout from '../layouts/Layout.astro';
import FigBranch from '../components/FigBranch.astro';
---

<Layout title="bh">
        <div class="w-full max-w-xl h-full">
            <FigBranch />
        </div>
    </main>
</Layout>
