---
import Layout from '../layouts/Layout.astro';
import FigBranch from '../components/FigBranch.astro';
import Introduction from '../components/Introduction.astro';
---

<Layout title="bh">
    <main class="flex justify-center">
        <div class="max-w-2xl">
            <Introduction />
        </div>
        <div class="max-w-xl h-full">
            <FigBranch />
        </div>
    </main>
</Layout>
