<div class="mobile-warning">
  <div class="warning-content">
    <p><b>sorry, the interactive fig tree experience is only available for desktop viewing.</b></p>
    <!-- <p>sorry, please visit on a computer for the interactive fig tree experience.</p> -->
  </div>
</div>

<style>
  .mobile-warning {
    position: fixed;
    font-family: 'Space Grotesk', sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: white;
    z-index: 10000;
    padding: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .warning-content {
    max-width: 90%;
  }

  .warning-content h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .warning-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #666;
  }

  @media (max-width: 768px) {
    .mobile-warning {
      display: flex;
    }
    body {
      overflow: hidden;
    }
    main, nav {
      display: none !important;
    }
  }
</style> 