---
// src/layouts/Layout.astro
import LoadingScreen from '../components/LoadingScreen.astro';
import MobileWarning from '../components/MobileWarning.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/fig.png" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&family=Rubik:wght@300;500&family=Manrope:wght@200;500&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body>
    <div class="desktop-content">
      <LoadingScreen />
      <slot />
    </div>
    <div class="mobile-content">
      <MobileWarning />
    </div>
  </body>
</html>

<style is:global>
  .desktop-content {
    display: block;
  }
  
  .mobile-content {
    display: none;
  }
  
  @media (max-width: 768px) {
    .desktop-content {
      display: none;
    }
    .mobile-content {
      display: block;
    }
  }
  
  html {
    font-family: 'Space Grotesk', sans-serif;
    background: rgb(255, 255, 255);
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .main-nav {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .site-title {
    font-weight: 500;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
  }
</style>
